* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hero {
  background: url(images/heroSectionBackground.png);
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 60vh;
}

.navbar {
  padding-top: 16px 48px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: #ffff;
}
.navber_menu {
  display: flex;
  gap: 20px;
}
.logo {
  height: 60px;
}
.user-icon {
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: solid 1px white;
  display: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.hero_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  height: calc(60vh - 60px);
}

.hero_cont h1 {
  font-weight: 400;
  font-size: 2.1rem;
  text-align: center;
}

.hero_input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.search_input,
.loc_input {
  border: none;
  outline: none;
  padding: 5px;
}
.hi_1 {
  width: 30%;
}
.hi_2 {
  width: 70%;
}
.loc_input {
  width: 80%;
  border-right: 2px solid #e0e0e0;
}
.search_input {
  width: 80%;
}
.loc {
  color: #ff7e8b;
  width: 30px;
}
.search {
  color: #e0e0e0;
  width: 30px;
}
.sec2_menu_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}
.sec2_card {
  border: 1px solid #e0e0e0;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 30px;
}
.hov {
  transition: all 0.2s ease;
}
.hov :hover {
  transform: scale(1.1);
}

.sec2_img {
  height: 192px;
  width: 354px;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px; */
  object-fit: cover;
}

.sec2_details {
  background-color: white;
  padding: 10px 20px;
  /* border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; */
}
.sec2_details h3 {
  font-weight: 400;
}

.sec2_details p {
  color: #4f4f4f;
}
.body_section {
  margin: 2rem auto;
  width: 80%;
}
.Collections {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding: 20px;
  margin-top: 50px;
}
.Collections h2 {
  font-size: 36px;
  font-weight: 400;
}
.all_col {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 300;
  color: rgb(54, 54, 54);
}
.all_right {
  color: #ef4f5f;
  font-size: 16px;
}
.col_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 15px;
  cursor: pointer;
}
.card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  background-position: cover;
  position: relative;
  transition: all 0.2s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.card:hover {
  transform: scale(1.1);
}
.card img {
  width: 267px;
  height: 320px;
  object-fit: fill;
  padding-bottom: 0;
  margin: 0;
  padding: 0%;
}

.card_det {
  padding: 10px;
  color: white;
  position: absolute;
  bottom: 10px;
}

.popular p {
  margin: 0px;
  color: rgb(54, 54, 54);
  font-size: 36px;
  font-weight: 400;
}

.popular {
  margin-left: 30px;
  padding: 20px;
  margin-top: 50px;
}

.table {
  width: 90%;
}
tr {
  display: flex;
  align-items: end;
  justify-content: stretch;
}
td {
  border: 1px solid #e0e0e0;
  padding: 15px 100px;
  width: 33.3%;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
td:hover {
  box-shadow: 0px 1px 4px rgb(115, 122, 126);
}
.get {
  background-color: #fffbf7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
.form {
  display: block;
}
.app_img {
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.app_img img {
  height: 450px;
  padding: 100px;
}

.form h2 {
  font-size: 40px;
  font-weight: 400;
}
.email {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  font-size: 20px;
}
.btn {
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  font-size: 20px;
  background-color: #e03546;
  color: white;
}
.note {
  color: #363636;
  margin-bottom: 30px;
}
.dapp {
  color: #9c9c9c;
  margin-bottom: 20px;
}
.play_img {
  padding: 10px;
}
.play_img img {
  width: 137px;
  padding: 5px;
}
@media only screen and (max-width: 600px) {
  .user-icon {
    display: flex;
  }
  .link {
    display: none;
  }
  .navbar {
    padding: 16px;
  }
  .hero {
    min-height: 80vh;
  }
  .hero_input {
    flex-direction: column;
    width: 100%;
    background-color: transparent;
  }
  .search_input,
  .loc_input {
    padding: 10px;
    width: 95%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .hero_cont {
    min-height: calc(80vh - 60 px);
  }

  .hero_cont h1 {
    font-size: 20px;
    width: 95%;
  }
}
